@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Database</h1>
</div>

<div style ="width:800px; margin:0 auto;">
    <p>
        Welcome to my Music Database Website!

        This page is basically a Wiki style page for you to input your favorite musical artists, albums, and songs. Below you will find our highlight video of the week featuring Relient K!
    </p>

</div>

<div style="width:800px; margin:0 auto;">
    <iframe width="854" height="510" src="https://www.youtube.com/embed/pFi9JMirtok" frameborder="0" allowfullscreen></iframe>
</div>